<p style="color: green"><%= notice %></p>
<p><%= link_to "Voltar par o Menu", welcome_index_path %></p>
<%= render @coin %>

<div>
  <%= link_to "Editar", edit_coin_path(@coin) %> |
  <%= link_to "Voltar para todas as moedas", coins_path %> 
</div>
